#container{
    background-color: rgb(7, 2, 80);
    color: antiquewhite;
}
#header{
    background-color: antiquewhite;
    color: rgb(7, 2, 80);
    position: fixed;
    z-index: 111;
    width: 100%;
    height: 85px;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    padding: 11px;
}
#logoimg{
    position: absolute;
    top: 35px;
    left: 41px;
    width: 71px;
    border-radius: 25px;
    transition: 0.5s;
}
#logoimg:hover{
    width: 111px;
    transition: 0.5s;
    border-radius: 21px;
}
#logotext{
    font-family: 'Langar', cursive;
    font-size: x-large;
    position: absolute;
    left: 47%;
}
#contactme{
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
    position: absolute;
    top: 35px;
    right: 71px;
    width:71px;
}
#arrow {
    width: 30px;
    height: 111px;
    background-color: antiquewhite;
    position: fixed;
    left:97%;
    top:700px;
    animation-name: arran;
    animation-duration: 1s;
    animation-iteration-count: 71111;
  }
#arrowhead {
    width: 30px;
    height: 30px;
    border: solid antiquewhite;
    border-width: 0 7px 7px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    background-color: antiquewhite;
    position: fixed;
    left:97%;
    top:741px;
    animation-name: arrahn;
    animation-duration: 1s;
    animation-iteration-count: 71111;
  }
#arrowtail {
    width: 30px;
    height: 30px;
    border: solid rgb(7, 2, 80);
    border-width: 0 7px 7px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    background-color: rgb(7, 2, 80);
    position: fixed;
    left:97%;
    top:700px;
    animation-name: arratn;
    animation-duration: 1s;
    animation-iteration-count: 71111;
  }
  @keyframes arran {
        0%   {top:70%}
        50%  {top:73%}
        100% {top:70%}
    }
  @keyframes arrahn {
        0%   {top:80%;}
        50%  {top:83%;}
        100% {top:80%;}
    }
  @keyframes arratn {
        0%   {top:68%;}
        50%  {top:71%;}
        100% {top:68%;}
    }
#WA{
    width: 30px;
    transition: 0.5s;
}
#WA:hover{
    transition: 0.5s;
    width: 70px;
}
#NameFlash{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 11px;
}
#body1{
    background-color: rgb(0,0,0,0);
    color: antiquewhite;
    font-family: 'Langar', cursive;
    position: absolute;
    left: 421px;
    top: 358px;
    padding: 11px;
    width: 430px;
    font-size: 30px;
    border-radius: 25px;
}
#DP1{
    position: absolute;
    left: 1111px;
    top: 210px;
    border: 11px solid antiquewhite;
    border-radius: 25px;
    width: 430px;
}
#body2{
    background-color: rgb(0,0,0,0);
    color: antiquewhite;
    font-family: 'Langar', cursive;
    position: absolute;
    left: 1111px;
    top: 1111px;
    padding: 11px;
    width: 430px;
    font-size: 30px;
    border-radius: 25px;
}
#DP2{
    position: absolute;
    left: 421px;
    top: 1111px;
    border: 11px solid antiquewhite;
    border-radius: 25px;
    width: 330px;
}
#body3{
    background-color: rgb(0,0,0,0);
    color: antiquewhite;
    font-family: 'Langar', cursive;
    position: absolute;
    left: 421px;
    top: 1900px;
    padding: 11px;
    width: 430px;
    font-size: 30px;
    border-radius: 25px;
}
#DP3{
    position: absolute;
    left: 1111px;
    top: 1930px;
    border: 11px solid antiquewhite;
    background-color: antiquewhite;
    border-radius: 25px;
    width: 430px;
    height: 570px;
}
#LS{
    font-family: 'Langar', cursive;
    font-size: 41px;
    color: rgb(7, 2, 80);
    position: absolute;
    top: 1970px;
    left: 1141px;
}
#lX{
    font-family: 'Langar', cursive;
    font-size: 41px;
    color: antiquewhite;
    position: absolute;
    /* width: 71px;
    height: 71px; */
    top: 2509px;
    left: 1121px;
}
#footer{
    background-color: antiquewhite;
    color: rgb(7, 2, 80);
    font-family: 'Langar', cursive;
    font-size: 30px;
    position: fixed;
    bottom: 0px;
    z-index: 111;
    width: 100%;
    height: 52px;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    padding: 11px;
}
/* transition: 0.5s;
transform: translateX(700%); */

/* text-shadow: 2px 2px rgb(12, 143, 45); */

/* #DP:hover{
    transition: 5s;
    transform-origin: left;
    transform: translateX(700%);
} */